<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.datarockets.mnchkn">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <application
        android:name=".MunchkinApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/MunchkinCounterTheme">

        <activity
            android:name=".ui.SplashActivity"
            android:theme="@style/SplashScreenTheme">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.onboard.WelcomeActivity" />
        <activity
            android:name=".ui.players.PlayersListActivity"
            android:label="@string/title.players_editor" />
        <activity
            android:name=".ui.dashboard.DashboardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.result.GameResultActivity"
            android:label="@string/title.analytics"
            android:parentActivityName=".ui.dashboard.DashboardActivity" />
        <activity
            android:name=".ui.settings.SettingsActivity"
            android:label="@string/title.settings"
            android:parentActivityName="ui.dashboard.DashboardActivity" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="@string/fabric_api_key"/>

    </application>

</manifest>
